.DS_Store
/*.html
.Rproj.user
.Rhistory
*.Rproj
*.gif
*/*.gif
*/*/*.gif
*.pkl
*/*.pkl
*/*/*.pkl
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
polynomial_regression/*.txt
polynomial_regression/*.png
pass
**/logs/*
